*.lx
*.a
*.o
*.obj
*.exe
*.pdb
*.ilk
.depend
*-stamp
boot/brickOS.coff
boot/brickOS.lds
boot/brickOS.srec
util/dll
util/firmdl/fastdl.h
util/firmdl/mkimg
util/firmdl3
util/fixdeps
util/fontdesign
util/genlds
util/makelx
